<a href="https://colab.research.google.com/github/jmh8fr/ds1002-jmh8fr/blob/main/homework/week-4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 4

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

## 1. Data Types

```python
s = "Fox"
x = 17
y = "3"
z = "false"
```

Using the variables above answer these questions:

In [5]:
# Write a snippet of code that displays the data type (class) of `s`
s = "Fox"
print("The datatype of class s is:", type(s))

The datatype of class s is: <class 'str'>

In [1]:
# Write a snippet of code that adds `x` and `y` and displays their sum.
x = 17
y = 3
result_sum = x + y
print("The sum of x an y is:", result_sum)

The sum of x an y is: 20

In [8]:
# How might you transform z into a boolean value, if you had to? Be creative.
z = 30
z_conversion = bool(z)
print("First value of z is:", z)
print("z as a boolean is:", z_conversion)

First value of z is: 30
z as a boolean is: True

- - -

## 2. Lists

    mylist = ["Chicago","New Orleans", "Tempe", "Denver", "Nashville", "Albany"]

Using the list above, answer these questions:

In [9]:
# Write a snippet of code that prints out "Tempe"
mylist = ["Chicago","New Orleans","Tempe", "Denver", "Nashville","Albany"]
mylist[2]

'Tempe'

In [12]:
# Write a snippet of code that adds "Atlanta" to this list and displays the extended list.
mylist = ["Chicago","New Orleans","Tempe", "Denver", "Nashville","Albany"]
mylist.append("Atlanta")
print(mylist)

['Chicago', 'New Orleans', 'Tempe', 'Denver', 'Nashville', 'Albany', 'Atlanta']

In [20]:
# Write a snippet of code that prints out only "New Orleans", "Tempe", "Denver".
mylist = ["Chicago","New Orleans","Tempe", "Denver", "Nashville","Albany"]
mylist[1:4]

['New Orleans', 'Tempe', 'Denver']

- - -

# 3. Dictionaries

    mydict = {"VA":"Richmond", "NC":"Raleigh", "NJ":"Trenton", "PA":"Harrisburg", "NY":"Albany"}

Answer the following questions:

In [21]:
# Write a snippet of code that returns "Trenton".
mydict = {"VA":"Richmond", "NC":"Raleigh", "NJ":"Trenton", "PA":"Harrisburg", "NY":"Albany"}
city = mydict["NJ"]
print(city)

Trenton

In [35]:
# Write a snippet of code that adds "CO":"Denver" to `mydict`.
# Remember the built-in .update({'key': 'value'}) method.
mydict = {"VA":"Richmond", "NC":"Raleigh", "NJ":"Trenton", "PA":"Harrisburg", "NY":"Albany"}
mydict["CO"] = "Denver"
print(mydict)
# .update method kept giving me invalid syntax, so I used a different method

{'VA': 'Richmond', 'NC': 'Raleigh', 'NJ': 'Trenton', 'PA': 'Harrisburg', 'NY': 'Albany', 'CO': 'Denver'}

In [22]:
# Write a snippet of code that returns all the keys in `mydict`
mydict = {"VA":"Richmond", "NC":"Raleigh", "NJ":"Trenton", "PA":"Harrisburg", "NY":"Albany"}
keys = mydict.keys()
key_list = list(keys)
print(key_list)

['VA', 'NC', 'NJ', 'PA', 'NY']

- - -

# 4. NumPy Arrays

Create an `ndarray` that contains the following values and assign the array to a variable.

    2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37

Using that variable, answer the following questions:

In [38]:
# Write a snippet of code that prints the data type of the elements in the array.
import numpy as np
my_array = np.array([2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37])
print("Data type of the elements in the array:", my_array.dtype)

Data type of the elements in the array: int64

In [39]:
# Write a snippet of code that displays `11` from the array.
import numpy as np
my_array = np.array([2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37])
my_array[4]

11

In [40]:
# Write a snippet of code that multiplies each array element by `7` and displays the new values.
import numpy as np
my_array = np.array([2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37])
new_array = my_array * 7
print("New values after multiplying by 7:", new_array)

New values after multiplying by 7: [ 14  21  35  49  77  91 119 133 161 203 217 259]